html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.headerlink{
  color: black;
  text-decoration: none;
  font-size: 30px;
  padding-left: 10px;
  font-weight: 600;
}

.headerlink:hover {
  color: #000;
}

.footer_text{
  font-weight: 600;
}

.buttontext {
  text-align: left;
}

.postdiv{
  overflow-x: auto;
}

.brandbox{
  height: 85vH;
  padding-top: 32vh;
}

.accordionstyle{
  border: 1px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cursorpointer{
  cursor: pointer;
}

.place-center{
  margin-top: 40vh;
  margin-bottom: 40vh;
}

.FullScreenloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3,3,3,0.5);
  z-index: 99999;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 45vh;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 8px solid green;
  border-bottom: 4px solid red;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
} 

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 360px) {
  img{
    width: 300px;
    height: 200px;
  }
}
